/*-------Resetear Estilo-------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------Estilo General-------*/

body {
  background-color: #232347;
  color: #fff;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
}
/*-------Estilo del Header-------*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-nav-list {
  display: flex;
  list-style: none;
  gap: 28px;
}

.header-nav-list li a {
  font-size: 1.1rem;
  position: relative;
}

/*-------efecto de letra-------*/
.header-nav-list li a::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #dcdcb8;
  left: 0;
  position: absolute;
  bottom: -2px;
  transition: 0.2s;
}

.header-nav-list li a:hover,
.header-nav-list li a:hover::after {
  width: 100%;
  color: #cdcde0;
}

.logo-container {
  width: 40px;
  height: 40px;
}

.logo {
  border-radius: 50%;
  background-color: #422152b4;
}

/*-------Estilo secci贸n "Hero"-------*/

.hero-section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  flex: 1;
  max-width: 80%;
}

.hero-text h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.main-text {
  display: inline-block;
}

.main-text span {
  color: #10e79c;
  font-weight: bolder;
  font-size: larger;
}

.hero-description {
  font-size: 1.3rem;
  line-height: 1.7;
}

.hero-img-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.hero-img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

/*-------Estilo secci贸n "Servicios"-------*/

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 30px;
  row-gap: 30px;
  margin-top: 60px;
}

.service-section {
  padding: 60px 0;
}

.services div {
  background-color: #5e5e85;
  padding: 20px;
  border-radius: 20px;
  line-height: 1.3;
  font-weight: 400;
  transition: background 0.5s, transform 0.5s;
}

.services div i {
  font-size: 3rem;
  color: #232347;
  margin-bottom: 16px;
}

.services div h3 {
  font-size: 1.4rem;
  line-height: 2;
  margin-bottom: 8px;
}

.services div a:link {
  background-color: #232347;
  padding: 8px 16px;
  margin-top: 16px;
  display: inline-block;
  border-radius: 10px;
  font-size: 1.1rem;
}

.services div a:hover {
  cursor: pointer;
  background-color: #c4c4d7;
  color: #232347;
  border: 1px solid;
}

.services div:hover {
  background-color: #c4c4d7;
  color: #232347;
  cursor: default;
  transform: translateY(-8px);
}

/*-------Estilo secci贸n "Trabajos"-------*/

.portfolios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 30px;
  margin-top: 50px;
}

.portfolio {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.portfolio img {
  border-radius: 12px;
  width: 100%;
  transition: transform 0.5s;
}

.portfolio:hover img {
  transform: scale(1.1);
}

.portfolio-text {
  width: 100%;
  position: absolute;
  height: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  overflow: hidden;
  background: rgba(195, 110, 49, 0.8);
}

.portfolio-text h3 {
  margin-bottom: 16px;
  font-size: 1.5rem;
}

.portfolio-text p {
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 16px;
}

.portfolio a {
  font-size: 2.4rem;
  color: #232347;
}

.portfolio:hover .portfolio-text {
  height: 100%;
  transition: 0.5s;
}

/*-------Estilo secci贸n "Contacto"-------*/

.contact-section {
  padding-top: 50px;
}

.contact-container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 30rem;
  margin: 7rem auto;
  padding: 4rem;
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.form-name {
  display: flex;
  gap: 1rem;
}

form input [type="text"] {
  width: 50%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
}

.form-btn;
